[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gss-utils = {git = "https://github.com/GSS-Cogs/gss-utils.git",ref = "v0.8.5"}
databaker = {git = "https://github.com/GSS-Cogs/databaker.git",ref = "gss_speedup"}
flask-cors = "*"
markdown = "*"
messytables = "==0.15.1"
html2text = "*"
msgpack = "*"
cachecontrol = "*"
rdflib = "==4.2.2"
pandas = "*"
requests = "*"

[requires]
python_version = "3.7"
